<nav class="navbar navbar-default" style="background-color:black;width:100%;cursor:pointer;">
  <div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li><a [routerLink]="['/home']">Home</a></li>
      </ul>
    </div>
  </div>
</nav>




<div style="text-align:center;background-image: url('./../../assets/imgs/usopen.jpg');background-position: center;margin-top: -20px;height:650px;">
  <h1 style="font-size: 120px;padding:230px;color:lightslategray;font-family: 'Al Tarikh'">What I Like?</h1>
</div>

  <hr>

<div class="container">
  <div class="row" id="travel">
    <div class="col-sm-4 col-md-4 col-lg-4 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
      <figure><img [src]=travel_img_url alt="travel_img"></figure>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <p style="font-family: AppleGothic;margin-top: 100px;">
        The reason why I love to travel: it helps open your mind.
        You realize that there’s no one way to live life.
        Meeting people from other places will show you that your world view isn’t the same as everyone else’s.
      </p>
    </div>
  </div>

  <hr>

  <div class="row" id="tennis">
    <div class="col-sm-5 col-md-5 col-lg-5 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
      <p style="font-family: AppleGothic;margin-top: 100px;">
        As a big fan of Roger Federer, I like playing tennis. I used to play for my university when I was in China.
        As what Roger said: “I guess, you know,
        it’s myself to blame if I win or lose, which I kind of like.
        And that it’s one on one, or if you like, in doubles two on two.
        But there’s a distance, so there’s always a lot of fair play.
        There’s no ugly plays in that way. Good sport to watch on TV.
        Good sport to watch live. It’s athletic and has a bit of everything.
        I think it’s really nice.”
      </p>
    </div>
    <div class="col-sm-5 col-md-5 col-lg-5">
      <figure><img [src]=tennis_img_url alt="travel_img"></figure>
    </div>
  </div>

  <hr>

  <div class="row" id="tableTennis">
    <div class="col-sm-6 col-md-6 col-lg-6 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
      <figure><img [src]=table_tennis_img_url alt="travel_img"></figure>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <p style="font-family: AppleGothic;margin-top: 100px;">
        I really do love Table Tennis.
        I could go on and on about all the reasons why it’s great for your body,
        your mind, your soul, your relationships, your knowledge about all things racket games, etc.,
        etc. But the simplest answer is “I love to play Table Tennis.”
      </p>
    </div>
  </div>
  <hr>

  <gallery [datasource]=images></gallery>
</div>
<!--<button (click)="scrollToTop(1000);"></button>-->
<div (click)="scrollToTop(1000)" class="toTop">
  <span class="glyphicon glyphicon-chevron-up"></span><br>
  <label>To Top</label>
</div>

<hr>

<div style="backGround-color:black;width:100%;height:250px;">
  <div class="contact" style="text-align: center;color:white;font-family: 'Apple LiSung';padding:50px;">
    <h2>Contact Information</h2>
    <label style="font-size: larger">Email: mzhzack66@gmail.com</label><br/>
    <label style="font-size: larger">Phone: (862)5760556</label>
  </div>
</div>





