<div class='row'>

  <div id="img1" class="col-lg-6 col-md-6 col-sm-6" style="text-align: center;cursor:pointer">
    <figure><img class="img-circle" [src]=dev_img_url alt="dev_img" style="height: 200px;width: 200px;"></figure><br/><br/>
    <span><span class="glyphicon glyphicon-chevron-left"></span><span class="glyphicon glyphicon-chevron-left"></span>Developer</span>

  </div>
  <div  id="img2" class="col-lg-6 col-md-6 col-sm-6" style="text-align: center;cursor:pointer">
    <figure><img class="img-circle" [src]=sports_img_url alt="sport_img" style="height: 200px;width:200px;"></figure><br/><br/>
    <span style="color:lightgray">Hobbies<span class="glyphicon glyphicon-chevron-right"></span><span class="glyphicon glyphicon-chevron-right"></span></span>
  </div>

</div>
