<div class="container-fluid">
  <div id="head" class="row">
    <div id="head_img" class="col-lg-3 col-lg-offset-2 col-sm-3 col-sm-offset-2 col-md-3 col-md-offset-2" style="margin-right:0">
      <figure><img [src]=head_img_url alt="myImg" class="img-circle" height="150px" width="150px" ></figure>
    </div>



    <div id="head_content" class="col-lg-3 col-md-3 col-sm-3" style="color:white;text-align: center;padding:20px;margin-left:0px">
      <h1 style="font-style: italic;font-size:50px;">Zack Mai</h1>
      <p style="font-style: oblique;font-size:15px;">Front End Developer/Web Developer</p>
    </div>

    <div>
      <!--<div>nav bar</div>-->
    </div>

  </div>
</div>



