<div class="container-fluid">
  <div id="head" class="row" style="background-color:black">
    <div id="head_img" class="col-lg-3 col-lg-offset-3 col-sm-3 col-sm-offset-3 col-md-3 col-md-offset-3" style="margin-right:0">
      <img [src]=head_img_url alt="myImg" class="img-circle" height="150px" width="150px" >
    </div>

    <div id="head_content" class="col-lg-3 col-md-3 col-sm-3" style="color:lightgray;text-align: center;padding:10px;margin-left:0px">
      <h1 style="font-style: italic;">Zack Mai</h1>
      <p style="font-style: oblique;">Front End Developer/Web Developer</p>
    </div>

    <div>
      <!--<div>nav bar</div>-->
    </div>

  </div>
</div>



