
<div style="background-color:lightgray;">
  <br><br>
    <div class="row">
      <div class="dropdown col-sm-3 col-md-3 col-lg-3 col-sm-offset-10 col-md-offset-10 col-lg-offset-10">
        <span class="glyphicon glyphicon-list dropdown-toggle" data-toggle="dropdown" style="font-size:30px;"></span>

        <ul class="dropdown-menu">
          <li><a href="#">Home</a></li>
          <li><a href="#">Experience</a></li>
          <li><a href="#">Skills</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>


  <br/><br/>

  <div style="background-color:white;box-shadow: 2px 2px 2px grey;margin-left: 20px; margin-right:20px;margin-bottom: 20px;">
    <div class="row">

      <div class="col-sm-5 col-md-5 col-lg-5">
        <img [src]=self_img_url alt="self_img" style="height:450px;width:450px; margin:20px;box-shadow: 1px 1px 1px grey;">
      </div>
      <div class="col-sm-6 col-md-6 col-sm-6" style="padding:20px">
        <h1 style="font-size: 50px;color:lightblue">Hello</h1>
        <p style="font-style: italic;font-size:20px;">I'm Zack Mai</p>
        <p>Web Developer/Front End Developer</p>
        <p> Seeking for a full time Web Developer. I have good experience in developing application using Javascript, HTML and CSS. For developing in efficient way, I used to use AngularJS and Angular2 as the client side application framework. To interact with different platform of applications, I know how to consume the Rest API with MongoDB and Oracle database. I have experience in controlling code version using GIT and in testing code using Jasmine and Karma. I am a quick learner and I enjoy working under pressure. I have excellent communication and interpersonal skills and ability to work independently and in a team with minimal supervision to meet the deadline.</p>
      </div>
    </div>
  </div>
  <br/><br>

  <div style="background-color:white;box-shadow: 2px 2px 2px grey;margin-left: 20px; margin-right:20px;margin-bottom: 20px;">

  </div>
</div>


