
<div style="background-image: url('./../../assets/imgs/macbook_back.jpg');background-position: center;">
  <br><br>
    <div class="row">
      <div class="dropdown col-sm-3 col-md-3 col-lg-3 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
        <span class="glyphicon glyphicon-list dropdown-toggle" data-toggle="dropdown" style="font-size:30px;"></span>

        <ul class="dropdown-menu">
          <li><a href="#">Home</a></li>
          <li><a [routerLink]="['about']">About</a></li>
          <li><a [routerLink]="['experience']">Experience</a></li>
          <li><a [routerLink]="['skills']">Skills</a></li>
          <li><a [routerLink]="['contact']">Contact</a></li>
        </ul>
      </div>
    </div>


  <br/><br/>
  <router-outlet></router-outlet>
  <br/><br>

</div>


