<div style="height:500px;width:100%;text-align:center;background-color:white;box-shadow: 2px 2px 2px grey;text-align: center;">
  <br>
  <h1>Experience</h1>

  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6" style="text-align: center">
      <h2>Marlabs</h2>
      <h3>Front End Developer</h3>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6" style="text-align: center">
      <h2>Dealfar</h2>
      <h3>Web Developer</h3>
    </div>

    <div class="col-sm- col-md- col-lg-6" >
      <ul class="list-group" style="list-style: none">
        <li class="list-item">Responsible to design and developed web pages using HTML5, CSS3, JavaScript, JQuery, Bootstrap and Angular2.</li>
        <li class="list-item">Developed dynamic responsive web application by integrating Angular2 with Bootstrap, which is further integrated with web services.</li>
        <li class="list-item">Built Angular2 components, services and router to consume rest services using component based architecture provided by Angular2.</li>
        <li class="list-item">Worked with JSON for data exchange between client and server.</li>
        <li class="list-item">Worked with Git to maintain different versions of source code and push them to the remove repository.</li>
        <li class="list-item">Worked with MongoDB for data inserting, fetching, deleting and updating.</li>
        <li class="list-item">Used Jasmine and Karma as testing tools for debugging and software quality assurance.</li>
        <li class="list-item">Worked with Agile methodology with daily standup meeting and bi-weekly sprint meeting.</li>
      </ul>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <ul class="list-group" style="list-style: none">
        <li class="list-item">Designed the front-end applications, user interactive (UI) web pages using web technologies like HTML5/4, AngularJs, JavaScript.</li>
        <li class="list-item">Enhanced user experience by designing new web features and single page applications AngularJs.</li>
        <li class="list-item">Created API as subroutine for building application, using Router module in NodeJs and Router module that provided by AngularJs.</li>
        <li class="list-item">Committed code change into repository by using version control tool GIT and worked with MongoDb and Oracle database.</li>
        <li class="list-item">Writing unit tests in AngularJs using Karma as test runners and Jasmine as test builder.</li>
        <li class="list-item">Participated in an Agile Scrum development environment.</li>
      </ul>

    </div>
  </div>
  <hr>

  <!--<div class="row">-->
    <!--<div class="col-sm-6 col-md-6 col-lg-6" style="text-align: center">-->
      <!--<h2>Dealfar</h2>-->
      <!--<h3>Web Developer</h3>-->
    <!--</div>-->
    <!--<div class="col-sm-7 col-md-7 col-lg-7">-->
      <!--<ul class="list-group">-->
        <!--<li class="list-item">Designed the front-end applications, user interactive (UI) web pages using web technologies like HTML5/4, AngularJs, JavaScript.</li>-->
        <!--<li class="list-item">Enhanced user experience by designing new web features and single page applications AngularJs.</li>-->
        <!--<li class="list-item">Created API as subroutine for building application, using Router module in NodeJs and Router module that provided by AngularJs.</li>-->
        <!--<li class="list-item">Committed code change into repository by using version control tool GIT and worked with MongoDb and Oracle database.</li>-->
        <!--<li class="list-item">Writing unit tests in AngularJs using Karma as test runners and Jasmine as test builder.</li>-->
        <!--<li class="list-item">Participated in an Agile Scrum development environment.</li>-->
      <!--</ul>-->

    <!--</div>-->
  <!--</div>-->

</div>
