
<div class="parallax1">
  <div style="height:400px;width:100%;opacity: 0"></div>
  <div style="width:100%;text-align:center;background-color:white;box-shadow: 2px 2px 2px grey;">
    <br>
    <h1>About Me</h1>
    <div class="row">

      <div class="col-sm-5 col-md-5 col-lg-5">
        <figure><img [src]=self_img_url alt="self_img" [@imgShowHide]="imgState"></figure>
      </div>
      <div class="col-sm-6 col-md-6 col-sm-6" style="padding:20px">
        <p style="font-size:40px;font-family: Avenir">Hello !</p>
        <p style="font-style: italic;font-size:20px;"> Seeking for a full time Web Developer.</p>
        <p>
          After years of training and self-learning, I realize the key point of becoming qualified as a good
          web developer is not only technical ability but also being open-minded and passionate to what
          I’m doing. That has been imprinted in my career life. I believe that every products I made
          should make even if a little bit change to someone or something in a positive way.
          I’ve mastered a wide range of computational skills which help me to achieve goals according
          to the needs of both my company and clients. Working individually and team playing are
          equally important to me through which process I gained different experiences. Although I’m
          not in school any more, I keep my attitude as student and always ready to accept new
          knowledge from anyone anytime and anywhere. When pressure comes, I always find a way to
          change it into motivation and step stone to bring me up to higher level.
          I have confidence that I will become one of your strongest support if you have me into your
          excellent team.
        </p>
      </div>
    </div>
  </div>
</div>
<hr>

<div class="parallax2">
  <div style="height:400px;width:100%;opacity: 0"></div>
 <app-experience></app-experience>
</div>

<hr>

<div class="parallax3">
  <div style="height:400px;width:100%;opacity: 0"></div>
  <app-skills></app-skills>
</div>

<div (click)="scrollToTop(1000)" class="toTop" style="text-align: center;cursor:pointer;">
  <span class="glyphicon glyphicon-chevron-up"></span><br>
  <label>To Top</label>
</div>

<div style="backGround-color:black;width:100%;height:250px;">
  <div class="contact" style="text-align: center;color:white;font-family: 'Apple LiSung';padding:50px;">
    <h2>Contact Information</h2>
    <label style="font-size: larger">Email: mzhzack66@gmail.com</label><br/>
    <label style="font-size: larger">Phone: (862)5760556</label>
  </div>
  <p style="color:white;">Want my complete resume? <a href="./../../../assets/resume/Zack.pdf">Please Click here</a></p>
</div>
