

<div class="parallax1">
  <div style="height:400px;width:100%;opacity: 0"></div>
  <div style="height:500px;width:100%;text-align:center;background-color:white;box-shadow: 2px 2px 2px grey;">
    <br>
    <h1>About Me</h1>
    <div class="row">

      <div class="col-sm-5 col-md-5 col-lg-5">
        <figure><img [src]=self_img_url alt="self_img" [@imgShowHide]="imgState"></figure>
      </div>
      <div class="col-sm-6 col-md-6 col-sm-6" style="padding:20px">
        <h1 style="font-size: 50px;color:lightblue">Hello</h1>
        <p style="font-style: italic;font-size:20px;">I'm Zack Mai</p>
        <p>Web Developer/Front End Developer</p>
        <p> Seeking for a full time Web Developer.</p>
        <p>
          I have good experience in developing application using Javascript, HTML and CSS.
          For developing in efficient way, I used to use AngularJS and Angular2 as the client side application framework.
          To interact with different platform of applications, I know how to consume the Rest API with MongoDB and Oracle database.
          I have experience in controlling code version using GIT and in testing code using Jasmine and Karma.
          I am a quick learner and I enjoy working under pressure. I have excellent communication and interpersonal skills
          and ability to work independently and in a team with minimal supervision to meet the deadline.
        </p>
      </div>
    </div>
  </div>
</div>
<hr>

<div class="parallax2">
  <div style="height:400px;width:100%;opacity: 0"></div>
 <app-experience></app-experience>
</div>

<div class="parallax3">
  <div style="height:300px;width:100%;opacity: 0"></div>
  <app-skills></app-skills>
</div>

<div (click)="scrollToTop(1000)" class="toTop" style="text-align: center;cursor:pointer;">
  <span class="glyphicon glyphicon-chevron-up"></span><br>
  <label>To Top</label>
</div>

<app-contact></app-contact>
